<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <h1>BIENVENIDO !</h1>
</head>
<body>
<!--&lt;!&ndash;Para acceder a parametros de view, colocar valor entre dos corchetes&ndash;&gt;-->
<div>Numero de Personas: {{no_personas}}</div>
<div>
    <a href="nueva_persona">Agregar Persona</a>
    <ul>
        {%for persona in personas%}
            <li>Persona {{persona.id}}:
                {{persona.nombre}}
                {{persona.apellido}}
                {{persona.email}}
                <a href="detalle_persona/{{persona.id}}">Ver Detalle</a>
            </li>
        {%endfor%}
    </ul>
</div>
</body>
</html>